.product-section {
  width: 100%;
  padding: 50px 0;
  background-color: #f4f4f4;
}

.product-banner-title {
  width: 1600px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.title {
  font-size: 20px;
}

.category-selector-container {
  margin-left: auto;
}

.category-selector {
  padding: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.product-container {
  width: 1600px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px 60px;
}

.product-box {
  width: 100%;
  padding: 15px 30px;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
}

.product-image {
  width: 100%;
  height: 300px;
  object-fit: contain;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.product-image:hover {
  transform: scale(1.1);
}

.product-name {
  padding-top: 20px;
}

.product-category {
  text-transform: capitalize;
  font-size: 22px;
}

.product-title {
  font-size: 16px;
}

.view-btn {
  color: #222;
  padding-top: 15px;
}

.view-btn:hover {
  text-decoration: underline;
}
