.loading-container {
  width: 250px;
  margin-inline: auto;
  display: block;
  margin-top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bounce {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.bounce div {
  width: 15px;
  height: 15px;
  background: #0077ff;
  border-radius: 50%;
  animation: bouncing 0.5s cubic-bezier(0.19, 0.57, 0.3, 0.98) infinite
    alternate;
}

.bounce div:nth-child(2) {
  animation-delay: 0.1s;
  opacity: 0.8;
}

.bounce div:nth-child(3) {
  animation-delay: 0.2s;
  opacity: 0.6;
}

.bounce div:nth-child(4) {
  animation-delay: 0.3s;
  opacity: 0.4;
}

@keyframes bouncing {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}
