.product-item {
  width: 1400px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 50px;
  margin-bottom: 100px;
}

.product-item > div {
  margin: 10px 40px;
}

.product-box1 {
  margin-right: 10px;
  height: 100%;
}

.product-box1 img {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: contain;
}

.product-box2 {
  padding: 40px 20px 40px 50px;
  flex: 1;
}

.product-category,
.product-price,
.product-input-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.product-category h3 {
  padding-right: 10px;
  font-size: 23px;
}

.product-price p {
  font-size: 20px;
}

.product-price h3 {
  padding-left: 10px;
  font-size: 20px;
}

.product-input {
  width: 60px;
  padding: 8px 10px;
}

.cart-button {
  padding: 10px 25px;
  background-color: #340864;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-left: 25px;
  outline: none;
  border: none;
}

.product-details {
  margin-top: 30px;
}

.product-details h3 {
  font-size: 25px;
}

.product-details p {
  font-size: 20px;
  line-height: 25px;
  margin-top: 15px;
}

.product-rating {
  margin-top: 25px;
}

@media screen and (max-width: 1440px) {
  .product-item {
    width: 95%;
    margin-inline: auto;
    /* display: flex;
    justify-content: space-between;
    padding: 80px 50px;
    margin-bottom: 100px; */
  }
}

@media screen and (max-width: 1200px) {
  .product-box1 img {
    width: 400px;
    height: auto;
  }

  .product-item {
    padding: 40px 30px;
  }
}

@media screen and (max-width: 1000px) {
  .product-box1 {
    width: 280px;
    padding-top: 50px;
  }

  .product-box1 img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .product-item {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 800px) {
  .product-item {
    padding: 0px 10px;
  }

  .product-box2 {
    padding: 40px 10px 40px 20px;
    flex: 1;
  }

  .product-box1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }

  .product-box1 img {
    width: 250px;
  }

  .product-item {
    flex-direction: column;
  }
}
